<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
    <div class="surface-card p-4 shadow-2 border-round w-full max-w-30rem">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">PoH Iron Warriors</div>
        </div>

        <div>
            <label class="block text-900 font-medium mb-2" for="email">E-mail</label>
            <input [(ngModel)]="email" class="w-full mb-3" id="email" pInputText placeholder="Name" type="text">

            <label class="block text-900 font-medium mb-2" for="password">Password</label>
            <input [(ngModel)]="password" class="w-full mb-3" id="password" pInputText placeholder="Password"
                   type="password">

            <button (click)="login()" class="w-full" icon="pi pi-user" label="Sign In" pButton>
            </button>
        </div>
    </div>
</div>
