<p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="data" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th>Boss name</th>
            <th>Support 1</th>
            <th>Support 2</th>
        </tr>
    </ng-template>
    <ng-template let-boss pTemplate="body">
        <tr>
            <td>
                {{ boss.name }}
            </td>
            <td>
                {{ boss.side1 }}
            </td>
            <td>
                {{ boss.side2 }}
            </td>
        </tr>
    </ng-template>
</p-table>
