<div style="max-width: 1400px; margin: auto;">
    <ng-container *ngIf="loaded">
        <p-selectButton
                [(ngModel)]="calcType"
                [options]="calcTypeOptions"
                optionLabel="label"
                optionValue="value"
                styleClass="mb-3"/>

        <app-field-chart [field]="calcType" [title]="calcLabel[calcType]"></app-field-chart>
    </ng-container>
    <div *ngIf="!loaded" class="w-full text-center pt-8">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>
