.p-datatable.p-datatable-sm table .p-datatable-tbody > tr > td {
  padding: 0.2rem;
}

.p-datatable.p-datatable-sm table .p-datatable-tfoot > tr > td {
  padding-left: 0.2rem;
  color: #005dd1;
}
